@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://images.unsplash.com/photo-1704236041747-615d800a8b0a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
  height: 2px; /* Adjust height as needed */
  overflow-y: auto;
  scrollbar-width: thin; /* "auto" for browser default scrollbar */
  scrollbar-color: #d1cfcf #7eb5ec; /* Snow theme */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  width: 8px; /* Adjust width as needed */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #12304e; /* Blue theme */
  border-radius: 10px;
}

/* Hover effect on scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #7f94cc; /* Darker shade of blue */
}


.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 0.2s both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
